{:paths ["src" "test" "plugins/default"]
 :deps  {org.clj-commons/pretty        {:mvn/version "3.6.8"}
         com.lambdaisland/dbus-client  {:mvn/version "0.2.15"}
         com.lambdaisland/cli          {:mvn/version "1.27.121"}
         borkdude/dynaload             {:mvn/version "0.3.5"}
         borkdude/edamame              {:mvn/version "1.5.39"}
         fipp/fipp                     {:mvn/version "0.6.29"}
         metosin/malli                 {:mvn/version "0.20.1"}
         mvxcvi/arrangement            {:mvn/version "2.1.0"}}
 :tasks
 {test  (shell "bb" "-m" "runner")
  cli   (apply shell "bb" "-m" "envrc" "--" *command-line-args*)
  nrepl (shell "bb" "nrepl-server")}}
